<div class="expenses-container">
  <div class="title">
    <p class="body-bold">Gastos totales</p>
    <p class="caption">Desde {{ firstMonth() }}</p>
  </div>
  <div class="content">
    <div class="value mt-8 mb-8">
      <p class="h2">${{ summary()?.allTime?.total | number: "1.0-0" }} <span class="caption">en total</span></p>
    </div>
    <div class="item">
      <p class="body">Combustible</p>
      <p class="body-bold">${{ summary()?.allTime?.fuel | number: "1.0-0" }}</p>
    </div>
    <div class="item">
      <p class="body">Mantenimiento</p>
      <p class="body-bold">${{ summary()?.allTime?.maintenance | number: "1.0-0" }}</p>
    </div>
    <div class="item">
      <p class="body">Seguros</p>
      <p class="body-bold">${{ summary()?.allTime?.insurance | number: "1.0-0" }}</p>
    </div>
    <div class="item">
      <p class="body">Otros</p>
      <p class="body-bold">${{ summary()?.allTime?.others | number: "1.0-0" }}</p>
    </div>
  </div>
</div>
