<div class="upcoming-alerts-container">
  <div class="title">
    <p class="body-bold">Próximas alertas</p>
    <ion-button fill="clear" (click)="onClickOpenAlerts()">Ver todas</ion-button>
  </div>
  <div class="content">
    @for (item of alerts(); track $index) {
      <div class="item" [style.--border-color]="item?.borderColor">
        <div class="icon">
          <ion-icon
            [src]="item?.icon"
            [style.--background-color]="item?.backgroundColor"
            [style.--color]="item?.color"
          ></ion-icon>
        </div>
        <div class="text">
          <p class="body-bold">{{ item?.name }}</p>
          <p class="caption">Fecha: {{ item?.dateFormatted }}</p>
        </div>
      </div>
    }
  </div>
</div>
