<div class="upcoming-alerts-container">
  <div class="title">
    <p class="body-bold">Próximas alertas</p>
    <ion-button fill="clear">Ver todas</ion-button>
  </div>
  <div class="content">
    <div class="item">
      <div class="icon">
        <ion-icon src="assets/icons/wrench-alt.svg"></ion-icon>
      </div>
      <div class="text">
        <p class="body-bold">Cambio de aceite</p>
        <p class="caption">Mazda 3 - En 500 km</p>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <ion-icon src="assets/icons/wrench-alt.svg"></ion-icon>
      </div>
      <div class="text">
        <p class="body-bold">Cambio de aceite</p>
        <p class="caption">Mazda 3 - En 500 km</p>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <ion-icon src="assets/icons/wrench-alt.svg"></ion-icon>
      </div>
      <div class="text">
        <p class="body-bold">Cambio de aceite</p>
        <p class="caption">Mazda 3 - En 500 km</p>
      </div>
    </div>
  </div>
</div>
