<app-header title="Mis vehículos"></app-header>

<ion-content class="container">
  <div class="main-container">
    <div class="title">
      <ion-label class="body-bold">Vehículos registrados</ion-label>

      <ion-button (click)="onClickCreateVehicle()">
        <ion-icon slot="start" name="add"></ion-icon>
        Agregar
      </ion-button>
    </div>

    @if (vehicles.length) {
      <app-vehicles-list [vehicles]="vehicles"></app-vehicles-list>
    } @else {
      <app-empty-state-card></app-empty-state-card>
    }
  </div>
</ion-content>
