.h1 {
  font-size: 34px;
  font-weight: 700;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
}

.h3 {
  font-size: 20px;
  font-weight: 700;
}

.body {
  font-size: 16px;
  font-weight: 400;
}

.body-bold {
  font-size: 16px;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
}

.subtitle-bold {
  font-size: 14px;
  font-weight: 700;
}

.caption {
  font-size: 12px;
  font-weight: 400;
}

.caption-bold {
  font-size: 12px;
  font-weight: 700;
}

.small {
  font-size: 10px;
  font-weight: 400;
}

.small-bold {
  font-size: 10px;
  font-weight: 700;
}

p {
  margin: 0px;
}
