:root {
  --ion-color-primary: #008a1d;
  --ion-color-primary-tint: #e7f2e7;
  --ion-color-secondary: #e7f2e7;

  --ion-color-warning: #e17100;
  --ion-color-warning-tint: #fffbea;

  --ion-color-danger: #f01e46;
  --ion-color-danger-tint: #f23559;

  --ion-color-white: #ffffff;

  --ion-color-background-standard: #fafafa;

  --shadow: 0px 4px 15px 0px rgba(0, 0, 10, 0.05);
}
