:root {
  --ion-color-primary: #008a1d;
  --ion-color-primary-tint: #e7f2e7;

  --ion-color-secondary: #e7f2e7;

  --ion-color-tertiary: #519fff;
  --ion-color-tertiary-tint: #cae2ff;

  --ion-color-warning: #e17100;
  --ion-color-warning-tint: #fffbea;

  --ion-color-danger: #f01e46;
  --ion-color-danger-tint: #ffd6dd;

  --ion-color-white: #ffffff;

  --ion-color-black: #000000;
  --ion-color-black-tint: #1e1f20;

  --ion-color-grey: #9d9fa1;
  --ion-color-grey-tint: #f1f2f3;

  --ion-color-background-standard: #fafafa;

  --shadow: 0px 4px 15px 0px rgba(0, 0, 10, 0.05);
}
