<div class="summary-container">
  <div class="title">
    <p class="body-bold">Resumen del mes</p>
    <p class="caption">Mayo 2026</p>
  </div>
  <div class="content">
    <div class="item">
      <ion-icon color="primary" src="assets/icons/gas-pump-alt.svg"></ion-icon>
      <p class="body-bold">$245k</p>
      <p class="small">Combustible</p>
    </div>
    <div class="item">
      <ion-icon color="primary" src="assets/icons/gas-pump-alt.svg"></ion-icon>
      <p class="body-bold">$245k</p>
      <p class="small">Combustible</p>
    </div>
    <div class="item">
      <ion-icon color="primary" src="assets/icons/gas-pump-alt.svg"></ion-icon>
      <p class="body-bold">$245k</p>
      <p class="small">Combustible</p>
    </div>
  </div>
</div>
