<app-header title="Dashboard"></app-header>

<ion-content class="container">
  <div class="main-container">
    @if (!vehicles?.length) {
      <app-empty-state-card
        title="Bievenido a GestionCar"
        description="Empieza ahora registrando tu primer vehículo"
      ></app-empty-state-card>
    }

    <app-summary-card
      [currentMonth]="currentMonth"
      [summary]="{
        month: {
          fuel: summary?.month?.fuel,
          maintenance: summary?.month?.maintenance,
          insurance: summary?.month?.insurance,
          others: summary?.month?.others,
        },
      }"
    ></app-summary-card>

    <app-expenses-card
      [firstMonth]="firstMonth"
      [summary]="{
        allTime: {
          fuel: summary?.allTime?.fuel,
          maintenance: summary?.allTime?.maintenance,
          insurance: summary?.allTime?.insurance,
          others: summary?.allTime?.others,
          total: summary?.allTime?.total,
        },
      }"
    ></app-expenses-card>

    @if (alerts?.length) {
      <app-upcoming-alerts-card [alerts]="alerts"></app-upcoming-alerts-card>
    }

    @if (recentMovements?.length) {
      <app-recent-activity-card [recentMovements]="recentMovements"></app-recent-activity-card>
    }
  </div>
</ion-content>
