<div class="options-list-container p-16">
  <div class="item p-8" (click)="onClickAddAlert()">
    <ion-icon color="warning" src="assets/icons/bell.svg"></ion-icon>
    <p class="subtitle">Crear alerta</p>
  </div>
  <div class="item p-8" (click)="onClickOpenBrandsModal()">
    <ion-icon color="primary" src="assets/icons/brand-badge.svg"></ion-icon>
    <p class="subtitle">Gestionar marcas</p>
  </div>
  <div class="item p-8" (click)="onClickOpenVehicleTypesModal()">
    <ion-icon color="danger" src="assets/icons/car-alt.svg"></ion-icon>
    <p class="subtitle">Gestionar tipos de vehículos</p>
  </div>
</div>
