<app-header title="Alertas y recordatorios"></app-header>

<ion-content class="container">
  <div class="main-container">
    <div class="title">
      <ion-label class="body-bold">Mis alertas</ion-label>

      <ion-button>
        <ion-icon slot="start" name="add"></ion-icon>
        Crear
      </ion-button>
    </div>

    @if (alerts.length) {
      <div class="counter-container">
        <div class="item grey">
          <p class="h2">3</p>
          <p class="body">Total</p>
        </div>
        <div class="item warning">
          <p class="h2">1</p>
          <p class="body">Próximamente</p>
        </div>
        <div class="item danger">
          <p class="h2">1</p>
          <p class="body">Atrasado</p>
        </div>
      </div>

      <app-alerts-list></app-alerts-list>
    } @else {
      <app-empty-state-card
        title="Bievenido a GestionCar"
        description="Aquí puedes crear alertas o programar recordatorios"
      ></app-empty-state-card>
    }
  </div>
</ion-content>
