<div class="recent-activity-container">
  <div class="title">
    <p class="body-bold">Actividad reciente</p>
    <ion-button fill="clear">Ver reportes</ion-button>
  </div>
  <div class="content">
    <div class="item">
      <div class="icon">
        <ion-icon src="assets/icons/wrench-alt.svg"></ion-icon>
      </div>
      <div class="text">
        <p class="body-bold">Cambio de aceite - Mazda 3</p>
        <p class="caption">30/05/2026</p>
      </div>
      <div class="value">
        <p class="body-bold">$52.400</p>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <ion-icon src="assets/icons/wrench-alt.svg"></ion-icon>
      </div>
      <div class="text">
        <p class="body-bold">Cambio de aceite - Mazda 3</p>
        <p class="caption">30/05/2026</p>
      </div>
      <div class="value">
        <p class="body-bold">$52.400</p>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <ion-icon src="assets/icons/wrench-alt.svg"></ion-icon>
      </div>
      <div class="text">
        <p class="body-bold">Cambio de aceite - Mazda 3</p>
        <p class="caption">30/05/2026</p>
      </div>
      <div class="value">
        <p class="body-bold">$52.400</p>
      </div>
    </div>
  </div>
</div>
