<div class="item">
  <div class="item-content">
    <div class="icon">
      <ion-icon src="assets/icons/car-side.svg"></ion-icon>
    </div>

    <div class="content">
      <p class="body-bold">{{ vehicle()?.name }}</p>
      <p class="subtitle">{{ vehicle()?.brand }} {{ vehicle()?.model }} {{ vehicle()?.year }}</p>
      <div class="detail">
        @if (vehicle()?.plate) {
          <p class="subtitle background">{{ vehicle()?.plate }}</p>
        }
        @if (vehicle()?.odometer) {
          <P class="subtitle">{{ vehicle()?.odometer }}</P>
        }
      </div>
    </div>

    <div class="buttons">
      <ion-icon
        class="button-icon"
        slot="icon-only"
        src="assets/icons/pencil.svg"
        (click)="onClickEditVehicle()"
      ></ion-icon>
      <ion-icon
        class="button-icon"
        slot="icon-only"
        src="assets/icons/trash.svg"
        (click)="onClickDeleteVehicle()"
      ></ion-icon>
    </div>
  </div>

  <div class="arrow">
    <ion-icon src="assets/icons/angle-down.svg" [class.rotate]="isOpenDetail" (click)="onClickOpenDetail()"></ion-icon>
  </div>

  <div class="card-detail" [class.open]="isOpenDetail">
    <div class="item-buttons">
      <ion-button class="grey" size="small" (click)="onClickCreateRefuelVehicle()">
        <ion-icon slot="start" src="assets/icons/gas-pump-alt.svg"></ion-icon>
        <p>Recarga</p>
      </ion-button>
      <!-- <ion-button class="grey" size="small" (click)="onClickCreateRefuelVehicle()">
        <ion-icon slot="start" src="assets/icons/paid.svg"></ion-icon>
        <p>Gasto</p>
      </ion-button> -->
    </div>

    <app-divider></app-divider>

    <div class="refuel-expenses-history-container">
      <div class="title mb-8" (click)="onClickOpenRefuelsByVehicle()">
        <p class="subtitle-bold flex-2">Historial de recargas</p>
        <p class="subtitle flex-1">{{ refuelsByVehicle?.length }} registros</p>
        <ion-icon
          class="icon-arrow-right"
          slot="end"
          src="assets/icons/angle-right.svg"
          [class.rotate]="isOpenRefuelsByVehicle"
        ></ion-icon>
      </div>
      <!-- <div class="title mb-8" (click)="onClickOpenExpensesByVehicle()">
        <p class="subtitle-bold flex-2">Historial de gastos</p>
        <p class="subtitle flex-1">{{ refuelsByVehicle?.length }} registros</p>
        <ion-icon
          class="icon-arrow-right"
          slot="end"
          src="assets/icons/angle-right.svg"
          [class.rotate]="isOpenExpensesByVehicle"
        ></ion-icon>
      </div> -->
      <div class="content-refuels" [class.open]="isOpenRefuelsByVehicle">
        @for (item of refuelsByVehicle; track $index) {
          <div class="detail">
            <div class="title">
              <p class="subtitle">{{ item?.date | date: "dd/MM/yyyy" }}</p>
              <p class="subtitle">${{ item?.total | number: "1.0-0" }}</p>
            </div>
            <div class="value">
              <div class="item-value">
                <p class="subtitle">Galones</p>
                <p class="subtitle-bold">{{ item?.fuelAmount | number: "1.1-2" }}</p>
              </div>
              <div class="item-value">
                <p class="subtitle">Odómetro</p>
                <p class="subtitle-bold">{{ item?.odometer | number: "1.0-0" }}</p>
              </div>
              <div class="item-value">
                <p class="subtitle">Rendimiento</p>
                <p class="subtitle-bold">{{ item.performance ? (item.performance | number: "1.1-2") : "-" }} km/gl</p>
              </div>
            </div>
            <div class="buttons">
              <ion-icon
                slot="icon-only"
                class="button-icon"
                src="assets/icons/pencil.svg"
                (click)="onClickEditRefuelVehicle(item)"
              ></ion-icon>
              <ion-icon
                slot="icon-only"
                class="button-icon"
                src="assets/icons/trash.svg"
                (click)="onClickDeleteRefuelVehicle(item)"
              ></ion-icon>
            </div>
          </div>
        }
        <div class="icon-arrow-up-container" (click)="onClickOpenRefuelsByVehicle()">
          <ion-icon class="icon-arrow-up" slot="icon-only" src="assets/icons/angle-up.svg"></ion-icon>
        </div>
      </div>
      <div class="content-expenses" [class.open]="isOpenExpensesByVehicle">
        @for (item of refuelsByVehicle; track $index) {
          <div class="detail">
            <div class="title">
              <p class="subtitle">{{ item?.date | date: "dd/MM/yyyy" }}</p>
              <p class="subtitle">${{ item?.total | number: "1.0-0" }}</p>
            </div>
            <div class="value">
              <div class="item-value">
                <p class="subtitle">Galones</p>
                <p class="subtitle-bold">{{ item?.fuelAmount | number: "1.1-2" }}</p>
              </div>
              <div class="item-value">
                <p class="subtitle">Odómetro</p>
                <p class="subtitle-bold">{{ item?.odometer | number: "1.0-0" }}</p>
              </div>
              <div class="item-value">
                <p class="subtitle">Rendimiento</p>
                <p class="subtitle-bold">{{ item.performance ? (item.performance | number: "1.1-2") : "-" }} km/gl</p>
              </div>
            </div>
            <div class="buttons">
              <ion-icon
                slot="icon-only"
                class="button-icon"
                src="assets/icons/pencil.svg"
                (click)="onClickEditRefuelVehicle(item)"
              ></ion-icon>
              <ion-icon
                slot="icon-only"
                class="button-icon"
                src="assets/icons/trash.svg"
                (click)="onClickDeleteRefuelVehicle(item)"
              ></ion-icon>
            </div>
          </div>
        }
        <div class="icon-arrow-up-container" (click)="onClickOpenExpensesByVehicle()">
          <ion-icon class="icon-arrow-up" slot="icon-only" src="assets/icons/angle-up.svg"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div>
