.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 16px;

  .item-content {
    display: flex;
    gap: 16px;

    .icon {
      ion-icon {
        height: 24px;
        width: 24px;
        padding: 16px;
        background-color: var(--background-color);
        color: var(--color);
        border-radius: 50%;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      .detail {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: space-between;

        .background {
          background-color: var(--background-color);
          color: var(--color);
          padding: 8px;
          border-radius: 12px;
        }
      }

      .date {
        display: flex;
        gap: 12px;
        align-items: center;

        ion-icon {
          height: 16px;
          width: 16px;
        }
      }
    }
  }

  .item-buttons {
    display: flex;
    gap: 12px;

    ion-button {
      text-transform: capitalize;
    }

    .success {
      --color: var(--ion-color-primary);
      --background: var(--ion-color-secondary);
      flex: 1;
    }

    .grey {
      --color: var(--ion-color-black-tint);
      --background: var(--ion-color-grey-tint);
      flex: 1;
    }
  }
}
