<div class="item" [style.--border-color]="alert()?.borderColor">
  <div class="item-content">
    <div class="icon">
      <ion-icon
        [src]="alert()?.icon"
        [style.--background-color]="alert()?.backgroundColor"
        [style.--color]="alert()?.color"
      ></ion-icon>
    </div>

    <div class="content">
      <div class="detail">
        <p class="body-bold">{{ alert()?.name }}</p>
        <p
          class="subtitle background"
          [style.--background-color]="alert()?.backgroundColor"
          [style.--color]="alert()?.color"
        >
          {{ alert()?.status }}
        </p>
      </div>
      <div class="date">
        <ion-icon slot="start" src="assets/icons/calendar.svg"></ion-icon>
        <p class="subtitle">
          {{ alert()?.dateFormatted }}
        </p>
      </div>
    </div>
  </div>
  <app-divider></app-divider>
  <div class="item-buttons">
    <ion-button class="success" size="small">
      <ion-icon slot="start" src="assets/icons/check.svg"></ion-icon>
      <p>Realizado</p>
    </ion-button>
    <ion-button class="grey" size="small">
      <ion-icon slot="start" src="assets/icons/cross.svg"></ion-icon>
      <p>Descartar</p>
    </ion-button>
  </div>
</div>
